/*
  Colors
*/
:root {
  --main-background: #051923;
  --main-text: #FFFAFF;
}


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background: var(--main-background);
  color: var(--main-text);
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

#myVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  PSW Core Styles
*/
header {
  background: linear-gradient(#F0F0F0, #575757 );
  color: var(--main-background);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2em;
}

section {
  padding: 10vh;
}

section p {
  margin-bottom: 1vh;
}

.map {
  height: 40vh;
}

.map aside {
  padding: 2vh;
  background: rgba(5, 25, 35, 80%);
}

.map aside p {
  margin: 0;
}

/* Temporary map backgrounds */
#na-pipelines {
  background: url('images/pipelines-temp.jpg') center center/cover no-repeat;
}

#line-5 {
  background: url('images/line5-temp.jpg') center center/cover no-repeat;
}

#native-lands {
  background: url('images/lands-temp.jpg') center center/cover no-repeat;
}

#oil-spill {
  background: url('images/spill-temp.jpg') center center/cover no-repeat;
}