/*
  Colors
*/
:root {
  --main-background: #051923;
  --main-text: #FFFAFF;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background: var(--main-background);
  color: var(--main-text);
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  PSW Core Styles
*/
header {
  color: var(--main-text);
  height: 100vh;
  background: rgba(87,87,87,0.5);
}

header h1 {
  text-transform: lowercase;
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  padding-top: 25%;
}

header p {
  font-size: 4em;
  text-align: center;
  margin-top: 40vh;
}

header video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

section {
  padding: 0;
  background: var(--main-background);
}

section.callout {
  padding: 10vh 20vh;
}

section.interview {
  padding: 10vh 20vh;
}

section h2 {
  font-size: 2em;
  margin-bottom: 4vh;
  text-align: center;
}

section p {
  margin-bottom: 3vh;
  font-size: 1.6em;
}

footer {
  height: 50vh;
}
.map-placeholder {
  height: 900px;
}

.map aside {
  padding: 2vh;
  background: rgba(5, 25, 35, 0.8);
  position: absolute;
  margin: 50vh 0 0 2vh;;
  width: 50%;
  z-index: 100;
}

.map aside p {
  margin: 0;
  font-size: 1.2em;
}

/* Temporary map backgrounds */
#na-pipelines {
  background: url('images/map-test.png') center center/cover no-repeat;
  background-color: var(--main-text);
}

#na-pipelines .map-placeholder {
  background: url('images/map-data-test.png') center center/cover no-repeat;
}